*/.so 

./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-commit.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/update.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/push-to-checkout.sample
./.git/hooks/pre-receive.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-merge-commit.sample
./.git/hooks/commit-msg.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-rebase.sample
./main
./benchMarks_pybind_libpb.cpython-311-x86_64-linux-gnu.so
./cpp_run
./benchmarks_pybind_libpb.cpython-311-x86_64-linux-gnu.so
